<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8" />
    <title>P2P Chat App</title>
</head>
<body>
<div class="container-fluid">
<h1>Peer to Peer Chat Program</h1>
<form th:action="@{/{id}/update (id=${currentUser.id})}" method="get">
    Your username:
    <input type="text" name="userName" th:placeholder="${currentUser.getUsername()}"/>
    <input type="submit" value="Update"/>
</form>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>